body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FEFBF1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
nav ul{
    color: #703412;
    list-style-type: none;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
main{
    padding: 72px 380px;
    color: #703412;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
main h1{
    font-size: 80px;
    width: 848px;
    height: 264px;
    font-family: Roboto;
}
main h2{
    font-size: 32px;
    width: 571px;
}
.cards img{
    width: 312px;
    border-radius: 8px;
}
.cards{
    padding: 72px 380px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 50px;
}




}